{% extends "base.html" %}
{% load static %}

{% block title %}
Mumbling Creations
{% endblock %}
{% block header %}
<div class="row">
    <div class="col-12">
        </br></br></br>
        <h1 class="text-center">Manage Mumbling Creations Categories</h1></br>
        <h6 class="text-center">Edit, Delete and Add New Categories</h6>
        </br>
        </br>
    </div>
</div>
{% endblock %}

{% block content %}
</br>
<div class="row justify-content-center">
    </br></br>
    <div class="col-4">
        <a class="btn btn-secondary" type="button" id="add-item-btn" href="{% url 'add_category' %}">
            <i class="fas fa-plus"></i> Add an Category
        </a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for cat in categories %}
                <div class="col-sm-4 card">
                    <!-- <div class="card" style="width: 18rem;"> -->
                    <div class="card-body">
                        <h5 class="card-title">{{ cat.display_name }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}