{% extends "base.html" %}
{% load static %}

{% block title %}
The Mumbling Mum
{% endblock %}
{% block header %}
    <div class="row">
        <div class="col-12">
            </br>
            <h1 class="text-center">The Mumbling Mum</h1></br>
            <h6 class="text-center">Mumbling (usually rude words through clenched teeth) through motherhood since 2016.</h6>
            </br>
            {% if user.is_authenticated %}
                <div class="row d-flex justify-content-center ">
                    <p>You are logged in as {{ user }}</p>
                </div>
            {% else %}
                <div class="row d-flex justify-content-center ">
                    <div class="col-2 d-flex justify-content-center">
                        <a href="#" class="btn btn-secondary center-block">login</a>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <a href="#" class="btn btn-secondary center-block">Register</a>
                    </div>
                </div>
            {% endif %}
            </br> </br>
        </div>
    
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="container">
                <h3 class="text-center">The blog</h3>
            </div>
        </div>
        <div class="col-6">
            <div class="container">
                <h3 class="text-center">The Shop</h3>
            </div>
        </div>
    </div>
{% endblock %}