{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block title %}
Thank You
{% endblock %}
{% block header %}
<div class="row">
    <div class="col-12">
        <br><br><br>
        <h1 class="text-center">Thank You</h1><br>
    </div>
</div>
{% endblock %}

{% block content %}
<br>
<div class="row justify-content-center">
    <div class="col-md-6">
        <p>Your Order information is below. A confirmation will be sent to <strong> {{order.email}}</strong>.</p>
        <hr>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <!-- order Summary -->
        <h4>Order Summary</h4>
        <hr>
        <div class="row">
            <div class="col">
                <p><strong>Order Number: </strong>{{ order.order_no }} </p>
                <p><strong>Order Date: </strong>{{ order.date }} </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3"><strong>Item</strong></div>
            <div class="col-3"><strong>Price</strong></div>
            <div class="col-3"><strong>Quantity</strong></div>
            <div class="col-3"><strong>Subtotal</strong></div>
        </div>
        <hr>
        {% for item in order.lineitems.all %}
        <hr>
        <div class="row">
            <div class="col-3">{{ item.item.name }}</div>
            <div class="col-3">{{ item.item.price }}</div>
            <div class="col-3">{{ item.quantity }}</div>
            <div class="col-3">{{ item.lineitem_total}}</div>
        </div>
        <hr>
        {% endfor %}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"><strong>Delivery Cost</strong></div>
            <div class="col-3">
                {{order.delivery_cost}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"><strong>Grand Total</strong></div>
            <div class="col-3">
                {{order.grand_total}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h4>Delivery Address</h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p>{{ order.street_address1 }}</p>
                {% if street_address2 %}
                <p>{{ order.street_address2 }}</p>
                {% endif %}
                <p>{{ order.town_or_city }}</p>
                {% if order.county %}
                <p>{{ order.county }}</p>
                {% endif %}
                <p>{{ order.postcode }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- Add cta buttons here!! -->
        </div>
    </div>
</div>
{% endblock %}