{% extends "base.html" %}
{% load static %}
{% load checkout_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block title %}
Checkout
{% endblock %}
{% block header %}
<div class="row">
    <div class="col-12">
        </br>
        <h1 class="text-center">Checkout</h1></br>
        <!-- <h6 class="text-center">Add an Item</h6> -->
        </br>
    </div>
</div>
{% endblock %}

{% block content %}
</br>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h6>Please fill out the form below to complete your order</h6>
        <hr>
        <!-- display order form - updated to use crispy forms to allow easy bootstrap styling-->
        <form id="payment-form" method="POST" action="{% url 'checkout' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Details:</legend>
                {{ order_form.full_name | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
            </fieldset>
            <fieldset>
                <legend>Delivery:</legend>
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
            </fieldset>
            <fieldset>
                <legend>Payment</legend>
                <!-- stripe card element -->
                <div id="card-element"></div>
                <!-- form errors to be displayed here -->
                <div id="card-errors"></div>
                <br/>
            </fieldset>
            

            <a class="btn btn-secondary" href="{% url 'view_shopping_bag' %}">Adjust shopping bag</a>
            <button id="submit-button"class="btn btn-secondary" type="submit">Place Order</button>
        </form>
    </div>
    <div class="col-md-6">
        <h6>Order Summary</h6>
        <hr>
        <!-- display order summary -->
        <table class="table">
            <tr>
                <th>Item</th>
                <th></th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th>Sub Total</th>
            </tr>
        {% for bag_item in shopping_bag_items %}
        <tr>
            <td><a href="{% url 'item_detail' bag_item.item_id %}"><strong>{{bag_item.item.name}}</strong></a></td>
            <td>{{ bag_item.item.description|slice:":40"|safe }}....</td>
            <td>£{{bag_item.item.price}}</td>
            <td>{{bag_item.quantity}}</td>
            <td><img class="img-thumbnail" src="{{bag_item.item.image.url}}"></img></td>
            <td>£{{ bag_item.item.price | multiply:bag_item.quantity }}</td>
            
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Delivery Cost:</strong></td>
            <td>
                <p>£{{ delivery_cost }} </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Grand Total: </strong></td>
            <td>£{{ grand_total }}</td>
        </tr>
    </table>        
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super}}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}