header {
    background-image: url('/media/3127130_cropped.jpg');
    /* background-image: url('/media/3127133.jpg'); */
    background-size: cover; 
}

#home_blog_div{
    background-image: url('/media/140964-OSX7N5-597.jpg'); 
    background-size: cover; 
    margin-top:2vh;
    height:50vh;
}

#me {
    border-radius: 50%;
    border:3px solid #737373;
    max-width:30vw;
}


#home_shop_div{
    background-image: url('/media/3127181.jpg');
    background-size: cover; 
    margin-top:2vh;
    height:50vh;
}

.fab {
    color: 	#737373;
}

#user_background {
    background-image: url('/media/3127133.jpg');
    background-size: cover; 
    height:50vh;
}

.card {
    padding:0;
}