/* Header background image cropped differently for large screen size */
@media only screen and (max-width: 1199px) {
    header {
        background-image: url('/media/3127133_cropped.jpg');
        background-size: cover;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        background-image: url('/media/3127133_lg_cropped.jpg');
        background-size: cover;
    }
}
/* ---AUTHORIZATION PAGES--- */

.authorization-pgs {
    background-image: url('/static/3127133_rotated.jpg');
    background-size: cover;
    min-height:65vh;
}

/* ---END OF AUTHORIZATION PAGES--- */
/* -------HOMEPAGE------- */
/* ----Intro Section */
#me {
    border-radius: 50%;
    border:3px solid #737373;
    max-width:25vw;
}

#intro {
    background-image: url('/static/intro-background.jpg'); 
    background-size: cover; 
    margin-top:2vh;
    padding: 2vh; 
}

/* --Blog Section-- */

#home_blog_div,
#manage-mumblings {
    background-image: url('/media/140964-OSX7N5-597.jpg'); 
    background-size: cover; 
    background-position: center;
    margin-top:2vh;
    height:50vh;
}

/* --Shop Section-- */

#home_shop_div,
#manage-creations{
    background-image: url('/media/3127181.jpg');
    background-size: cover; 
    background-position: center;
    margin-top:2vh;
    height:50vh;
}

.center {
    text-align:center;
    display:block;
}

.fab {
    color: 	#737373;
}

#user_background {
    background-image: url('/media/3127133.jpg');
    background-size: cover; 
    height:50vh;
}

.card {
    padding:0;
}

.clearance {
    background-color: #ff2c00;
    color:white;
}


/* ----Keep footer at bottom----- */
html,
body {
 height: 100%;
 width: 100%;
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 display: flex;
 flex-direction: column;
 align-items: stretch; /* height of your footer */
}
main {
    flex-grow: 1;
}
header, main, footer {
    flex-shrink: 0;
}
/* ------end of footer at bottom----------- */