{% extends "base.html" %}
{% load static %}


{% block title %}
The Mumbling Mum
{% endblock %}
{% block header %}
<div class="row justify-content-center">
    <div class="col center-text">
        </br></br></br></br>
        <h1>Mum Mumblings</h1></br>
        <!-- <h6 class="text-center">Mumbling <i>(usually rude words through clenched teeth)</i> through motherhood since 2016.</h6> -->
        <h2>{{blogentry.title}}</h2>
        </br>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    </br>
    <div class="row">
        </br></br>
        <div class="col-4">
            <a class="btn btn-secondary" type="button" href="{% url 'blog_list' %}">
                <i class="fas fa-angle-left"></i> Back
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h4>{{ blogentry.title }}</h4>
            <small>Category: {{ blogentry.category }}</small></br>
            <p>{{ blogentry.body }}</p>
        </div>
        <div class="col-sm-4">
            {% if blogentry.image %}
            <img class="img-thumbnail" src="{{ blogentry.image}}">
            {% elif blogentry.image_url %}
            <img class="img-thumbnail" src="{{ blogentry.image_url}}">
            {% else %}
            <img class="img-thumbnail" src="{% static 'images/mumble.jpg'%}">
            {% endif %}
        </div>
    </div>
    <!-- Only allow signed in Users to like and comment -->
    {% if user.is_authenticated %}
    <div class="row">
        <!-- Likes -->
        <div class="col-md-3">
            <h6>Likes: {{ blogentry.likes.count }}</h6>
            {% if liked %}
            <form action="{% url 'like_entry' blogentry.pk %}" method="POST">
                {% csrf_token%}
                <button type="submit" class="btn btn-primary btn-sm" name="blogentry_id" value="{{entry.id}}">
                    <i class="fas fa-thumbs-up"></i>
                </button>
            </form>
            {% else %}
            <form action="{% url 'like_entry' blogentry.pk %}" method="POST">
                {% csrf_token%}
                <button type="submit" class="btn btn-secondary btn-sm" name="blogentry_id" value="{{entry.id}}">
                    <i class="far fa-thumbs-up"></i>
                </button>
            </form>
            {% endif %}
        </div>
        <!-- Comments -->
        <div class="col-md-9">
            <h6>Comments {{ comments.count }}</h6>
            {% for comment in comments %}
                {{comment.author}}
                {{comment.post_date}}
                {{comment.body}}
                {% if comment.author == user%}
                <p><a data-toggle="modal" data-target="#deleteModal{{comment.pk}}" class="card-link">Delete Comment</a></p>
                <!--  Modal -->
                <div class="modal fade" id="deleteModal{{comment.pk}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">DELETE COMMENT</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete your comment?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a id="delete" href="{% url 'delete_comment' blogentry.pk comment.pk %}"
                                    class="btn btn-primary">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
        {% endfor %}
        <form method="POST" action="{% url 'add_comment' blogentry.pk %}">
        <!-- enctype="multipart/form-data"> -->
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary" type="submit">Add Comment</button>
        </form>
        


        </div>
    </div>
    {% else %}
    <div class="row">
        <!-- Likes -->
        <div class="col-md-3">
            <h6>Likes: {{ blogentry.likes.count }}</h6>
        </div>
        <!-- Comments -->
        <div class="col-md-9">
            <h6>Comments {{ comments.count }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col"></br>
            <p>You must be logged in to Like or Comment. <a href="{% url 'account_login' %}">Log in here!</a> or            
                <a href="{% url 'account_signup' %}">Register for an account here!</a></p>
        </div>
    </div>
    {% endif %}
</div>

<hr>
</div>
{% endblock %}