{% extends "base.html" %}
{% load static %}


{% block title %}
The Mumbling Mum
{% endblock %}
{% block header %}
<div class="row">
    <div class="col-4 inline-block text-center">
        </br>
        <img id="me" src="{% static 'images/me.jpg' %}">
        </br>
    </div>
    <div class="col-8">
        </br></br></br></br>
        <h1>Mum Mumblings</h1></br>
        <h5>Hi, I'm Mel (aka The Mumbling Mum). I am the mother of 2 small boys.
            This is my blog where I like to share
            funny stories and what we have been up to. Enjoy!</h5>
        </br>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    </br>
    <div class="row justify-content-center">
        </br></br>
        {% if manage_blog %}
        <div class="col-sm-4 center">
            <div class="dropdown">
                <button class="btn btn-light border-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-filter"></i>
                    Blog Categories
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'manage_blog' %}">All Entries</a>
                    {% for c in categories %}
                    <a class="dropdown-item" href="{% url 'manage_blog_by_category' c.pk %}">{{c.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        </br></br>
        <div class="col-sm-4 center">
            <a class="btn btn-light border-dark" type="button" href="{% url 'add_blog_entry' %}">
                <i class="fa fa-plus"></i> Add New Blog Post
            </a>
        </div>
    </br></br>
        <div class="col-sm-4 center">
            <a class="btn btn-light border-dark" type="button" href="{% url 'manage_categories' %}">
                <i class="fa fa-list"></i> Manage Blog Categories
            </a>
        </div>
    </br></br>
        {% else %}
        <div class="col-sm-4">
            <div class="dropdown">
                <button class="btn btn-light border-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-filter"></i>
                    Blog Categories
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'blog_list' %}">All Entries</a>
                    {% for c in categories %}
                    <a class="dropdown-item" href="{% url 'blog_list_by_category' c.pk %}">{{c.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <hr>
    {% for entry in blogentries %}
    <div class="row">
        <div class="col-sm-10">
            <a href="{% url 'blog_detail' entry.pk %}">
                <h4>{{ entry.title }}</h4>
            </a>
            <p><small>Category: {{ entry.category }}</small></p>
            <p><small>Author: {{ entry.author }}</small></p>
            <p>{{ entry.body|slice:":100"|safe }}</p>
        </div>
        <div class="col-sm-2">
            {% if entry.image %}
            <img class="img-thumbnail" src="{{ entry.image}}">
            {% elif entry.image_url %}
            <img class="img-thumbnail" src="{{ entry.image_url}}">
            {% else %}
            <img class="img-thumbnail" src="{% static 'images/mumble.jpg'%}">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <i class="far fa-thumbs-up"></i> {{ entry.likes.count }}
        </div>
    </div>
    {% if manage_blog %}
</br>
    <a href="{% url 'edit_blog_entry' entry.pk %}" class="btn btn-light border-dark card-link">Edit</a>
    <!-- Button trigger delete modal -->
    <a data-toggle="modal" data-target="#deleteModal{{entry.pk}}" class="btn btn-light border-dark card-link">Delete</a>
    <!--  Modal -->
    <div class="modal fade" id="deleteModal{{entry.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DELETE ITEM</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete {{ entry.title }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <a id="delete" href="{% url 'delete_blog_entry' entry.pk %}" class="btn btn-primary">Yes</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <hr>

    {% endfor %}
</div>
{% endblock %}