{% extends "base.html" %}
{% load static %}

{% block title %}
The Mumbling Mum
{% endblock %}
{% block header %}
<div class="row">
    <div class="col-4 inline-block text-center">
    </br>
        <img id="me" src="{% static 'images/me.jpg' %}">
    </br>
    </div>
    <div class="col-8">
        </br></br></br></br>
        <h1>Mum Mumblings</h1></br>
        <!-- <h6 class="text-center">Mumbling <i>(usually rude words through clenched teeth)</i> through motherhood since 2016.</h6> -->
        <h5>Hi, I'm Mel (aka The Mumbling Mum). I am the mother of 2 small boys. This is my blog where I like to share funny stories and what we have been up to. Enjoy!</h5>
    </br>
</div>
{% endblock %}

{% block content %}

 
    {% for entry in object_list %}
<div class="row">
    <div class="col">
        <h4>{{ entry.title }}</h4>
        <p>{{ entry.author }}</p>
        <p>{{ entry.body }}</p>
    </div>
    <div class="col-sm-3">
        {% if entry.image %}
        <img class="img-thumbnail" src="{{ entry.image}}" >
        {% elif entry.image_url %}
        <img class="img-thumbnail" src="{{ entry.image_url}}" >
        {% else %}
        <p> NO IMAGE </p>
        {% endif %}
    </div>

</div>
    {% endfor %}
</ul>
    
{% endblock %}