{% extends "base.html" %}
{% load static %}

{% block title %}
Site Admin
{% endblock %}
{% block header %}
<div class="row">
    <div class="col-12">
        </br></br></br></br>
        <h1 class="text-center">Mumbling Admin</h1></br>
        <h4 class="text-center">Manage the Mumbles!</h4>
        </br>
        <div class="row d-flex justify-content-center ">
            <h5>You are logged in as {{ user }}</h5>
        </div>
        </br>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div id="manage-mumblings">
            </br>
            <h2 class="text-center"><a href="#" class ="text-dark">Manage Mumblings</a></h2>
            </br>
            <h5 class="text-center">Add New blog Posts, Edit Blog Posts, Highlight Blog Posts and Remove Blog Posts
            </h5>
        </div>
    </div>
    <div class="col-sm-6">
        <div id="manage-creations">
            </br>
            <h2 class="text-center"><a href="{% url 'manage_items' %}" class ="text-dark">Manage Creations</a></h2>
            </br>
            <h5 class="text-center">Add New Items, Edit Items, Move items to Clearance, mark items as Out of Stock and
                Delete Items</h5>
        </div>
    </div>
</div>
{% endblock %}