{% extends "base.html" %}
{% load static %}

{% block title %}
The Mumbling Mum
{% endblock %}
{% block header %}
<div class="row">
    <div class="col-12">
        </br>
        <h1 class="text-center">My Member Profile</h1></br>
        <div class="row d-flex justify-content-center ">
            <p>You are logged in as {{ user }}</p>
        </div>
        </br>
    </div>

</div>

{% endblock %}

{% block content %}
<!-- Add Default profile info and button to edit -->
<div class="row">
    <div class="col-6">
    </br>
        <h4>Default Delivery Information</h4>
    </div>
    </br>
</div>
<div class="row">
    <div class="col-6">
        <form action="{% url 'member_profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary">Update Information</button>
        </form>
    </div>
</div>
<!-- Add 'My previous orders'  -->

    <div class="row">
        <div class="col-6">
        </br>
            <h4>My Previous Orders</h4>
        </div>
        </br>
    </div>
    {{orders}}
    <div class="row">
        <div class="col-6">
            <table>
                <tr>
                    <th>Order Number</th>
                    <th>Order Date</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{order.order_no}}</td>
                    <td>{{order.date}}</td>
                </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>

<!-- if no orders display (There are no orders to display) -->


{% endblock %}