{% extends "base.html" %}
{% load static %}

{% block title %}
The Mumbling Mum
{% endblock %}
{% block header %}
<div class="row">
    <div class="col-12">
        </br>
        <h1 class="text-center">My Member Profile</h1></br>
        <div class="row d-flex justify-content-center ">
            <p>You are logged in as {{ user }}</p>
        </div>
        </br>
    </div>

</div>

{% endblock %}

{% block content %}
<div class="row">

    <div class="row">
        <div class="col-12">
        </br></br>
            <p>MemberProfile.user: {{ member }}</p>
            <p>email_address: {{ user.email }}</p>
            <p>member_profile.default_phone_number: {{ default_phone_number }}</p>

            <a href="{% url 'add_item' %}">Add an new item to the store</a>
        </div>
    </div>
    <!-- Add Default profile info and button to edit -->

    <!-- Add 'My previous orders'  -->
    <!-- if no orders display (There are no orders to display) -->

</div>
{% endblock %}