{% extends "base.html" %}
{% load static %}

{% block title %}
The Mumbling Mum
{% endblock %}
{% block header %}
<div class="row">
    <div class="col-12">
        <br><br><br>
        <h1 class="text-center">My Member Profile</h1>
        <div class="row d-flex justify-content-center ">
            <h5>You are logged in as {{ user }}</h5>
        </div>
        <br>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-4 justify-content-center">
        <br>
        <h4>My Previous Orders</h4>
        <hr>
        <table>
            <tr>
                <th>Order Number</th>
                <th>&nbsp&nbsp&nbsp&nbsp</th>
                <th>Order Date</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td><a href="{% url 'order_detail' order.pk %}">{{order.order_no|slice:":10"|safe }}..</a></td>
                <td>&nbsp &nbsp &nbsp &nbsp</td>
                <td>{{order.date}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm-4">
        <br>
        <h4>My Delivery Information</h4>
        <hr>
        <form action="{% url 'member_profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-light border-dark">Update Information</button>
        </form>
    </div>
</div>
{% endblock %}